/*==========================================
                Fonts
==========================================*/                

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/*==========================================
            General Styles
==========================================*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    padding: 0 10vw;
    font-size: 10px;
}

img{
    width: 100%;
}

h1{
    font-size: 2rem;
    color: #323A45;
    padding: 2vh 0 1vh 0;
}

h3{
    color: #323A45;
    padding: 2vh 0 1vh 0;
    font-size: 1rem;
}

p{
    color: #848484;
    padding-bottom: 3vh;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #323A45;
    font-size: 1rem;
    letter-spacing: 0px;
}

ul{
    list-style: none;
}

section>article{
    margin-bottom: 20px;
}

/*==========================================
            Header Styles
==========================================*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>a>h1{
    font-size: 2rem;
    padding: 6.5vh 0;
}

header>ul:nth-of-type(1){
    display: flex;
}

header>ul:nth-of-type(1)>li{
    margin-left: 3vw;
}

header>ul:nth-of-type(1)>li>a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

header>div{
    width: 50px;
    height: 35px;
    display: none;
}

header>div>span{
    display: block;
    height: 5px;
    background-color: #000;
    margin: 5px;
}

/*=== Mobile Menu ===*/

header>ul:nth-of-type(2){
    background-color: #f3f3f5;
    border: 10px solid #323A45;
    border-radius: 20px;
    display:grid;
    place-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateY(-100%);
}

header>ul:nth-of-type(2)>li>a{
    font-size: 50px;
    font-weight: bold;
}

/*==========================================
            Main Styles
==========================================*/

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

main>section>article>div>div{
    display: flex;
    justify-content: space-between;
}

/*==========================================
            Hover Styles
==========================================*/

article>div>div:nth-of-type(1){
    position: relative;
}

.hover{
    background-color: #f3f3f5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

article>div>div:nth-of-type(1):hover .hover{
    opacity: 0.8;
}

/*==========================================
            Footer Styles
==========================================*/

footer>section{
    display: flex;
    margin-bottom: 7vh;
}

footer>section>div:nth-of-type(-n+3){
    margin-right: 7vw;
}

footer>section>div>h4{
    padding: 3vh 0;
    font-size: 1.1rem;
    color: #323A45;
}

footer>section p{
    padding-bottom: 0;
    color: #000;
    line-height: 35px;
}

footer>p{
    padding-bottom: 3vh;
}

/*==========================================
            Media Query Styles
==========================================*/

@media screen and (max-width: 600px){
    header>ul:nth-of-type(1){
        display: none;
    }

    header>div{
        display: block;
    }
    
    .grid{
        grid-template-columns: 100%;
        gap: 10px;
    }

    section>article{
        margin-bottom: 10px;
    }

    footer>section{
        flex-direction: column;
    }
}